.srch-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.car_container {
    max-width: 500px;;
}

.left-col {
    background-color: black;
    opacity: .9;
}

.right-col {
    background-color: black;
    opacity: .9;
}