.grid-form {
    position: absolute;
    top: 30%;
    right: 36%;
    color: white;
    opacity: .8;
    background-color: black;
    width: 25%;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    padding: 10px;
}

.signin {
    width: 100%;
    align-content: center;
}

.signin-header {
    right: 36%
}