.profile_pic {
    max-width: 50px;
    max-height: 50px;;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    opacity: .95;
    align-items: center;
    text-align: center;
    min-height: 50px;
}

.grid-link {
    color: whitesmoke;
    opacity: 0.85;

}

.grid-link:hover {
    cursor: pointer;
    color: silver;
    text-decoration: none;
}

.grid-item:hover {
    border-radius: 20px;
    border : 2px solid silver;
}

